---
import ButtonSubmit from "../components/ButtonSubmit.svelte";
import Layout from "../layouts/Layout.astro";
import Texarea from "../components/Texarea.svelte";
import Footer from "../components/Footer.svelte";
import Powered from "../components/Powered.svelte";
---

<Layout title="Cooking Idea ">
  <main class="flex h-screen justify-center items-center flex-col">
    <header class="mt-10 mb-5">
      <h1 class="text-center">COOKING IA</h1>
	  <p class="text-center text-gray-900 bg-gray-100 font-serif text-xl border-radius px-3 py-1">
      Ideas for cooking with two ingredients
	  </p>
    </header>
    <div class="flex flex-col gap-y-1">
      <Texarea client:visible />
      <ButtonSubmit client:visible/>
    </div>
    <Powered client:visible/>
  </main>
  <Footer client:visible/>
</Layout>

<style>

 h1{
  font-family: 'Knewave', cursive;
  font-size: 4rem;
  color:#3e3772;
 }
</style>
